version: '3.8'

services:
  n8n:
    image: docker.io/n8nio/n8n:next
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=Asia/Dhaka
      - TZ=Asia/Dhaka
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - n8n-network
volumes:
  n8n_data:

networks:
  n8n-network:
    driver: bridge
